<footer class="footer py-5">
    <div class="container">
        <div class="row justify-content-center justify-content-md-start">

            <div class="col-6 col-md-9">
                <p class="footer-logo">eazifunds.</p>

                <ul class="d-flex row justify-content-center justify-content-md-start mt-4">
                    <li class="mx-4 my-md-0 my-3">
                        <a href="#">Terms</a>
                    </li>
                    <li class="mx-4 my-md-0 my-3">
                        <a href="#">Privacy</a>
                    </li>
                    <li class="mx-4 my-md-0 my-3">
                        <a href="#">Careers&#64;eazifunds</a>
                    </li>
                    <li class="mx-4 my-md-0 my-3">
                        <a href="#">Help and Support</a>
                    </li>
                </ul>

                <p class="mt-4 py-5 ef-copyright">Copyright &#169; 2021 Eazifunds, Inc. All Rights Reserved.</p>

            </div>


            <div class="col-md-3">
                <ul class="justify-content-center justify-content-md-start" style="margin-top: 4rem;">
                    <li>
                        <p class="text-center text-md-left" style="color: white;">Email: <span class="show-email">info&#64;eazifunds.com</span></p>
                    </li>
                    <li>
                        <p class="info text-center text-md-left">info&#64;eazifunds.com</p>
                    </li>
                </ul>

                <ul class="d-flex row justify-content-md-start justify-content-center">
                    <li class="ml-3 mr-4"><img src="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1611090389/eazifunds%202.0/il_linkedin_gdg1zk.svg" alt=""></li>
                    <li class="mx-4"><img src="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1611090391/eazifunds%202.0/ant-design_github-outlined_hqkji4.svg" alt=""></li>
                    <li class="mx-4"><img src="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1611090385/eazifunds%202.0/ant-design_medium-outlined_qtzinp.svg" alt=""></li>
                </ul>

                <p class="mt-4 py-5 ef-copyright-mobile">Copyright &#169; 2021 Eazifunds, Inc. All Rights Reserved.</p>
            </div>

        </div>
    </div>
</footer>


<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/a6f7970f75.js" crossorigin="anonymous"></script>