<nav class="navbar navbar-expand-md mt-3">
    <a class="navbar-brand" href="/"><img class="navbar-logo" src="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1610998534/eazifunds%202.0/Logo_eazifunds._mllwoe.svg" alt=""></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navlinks" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
    </button>

    <div class="collapse navbar-collapse" id="navlinks">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-4">
                <a class="py-2 px-4 ef-lgn-btn btn-primary" href="#">Log In</a>
            </li>
        </ul>
    </div>
</nav>

<div class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-header">
            <div class="modal-content">

            </div>


        </div>

        <div class="modal-body">

        </div>
    </div>
</div>

<div class="container">
    <%if(errorMessage && errorMessage.length > 0){%>
        <div class="row">
            <div class="col-md-4">
                <div class="alert alert-danger mt-5" role="alert">
                    <%=errorMessage%>
                </div>
            </div>
        </div>
        <%}%>
            <%if(successMessage && successMessage.length > 0){%>
                <div class="row mt-1" style="">
                    <div class="col-md-4">
                        <div class="alert alert-success text-center mt-5" role="alert">
                            <%=successMessage%>
                        </div>
                    </div>
                </div>
                <%}%>
</div>