<!DOCTYPE html>
<html>

<head>
    <title>eazifunds | home</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" href="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1611000049/eazifunds%202.0/Component_1_qabdpb.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|PT+Sans:700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="/styles/home.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

</head>

<body>
    <div class="sec0-body">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <%-include('../partials/Navbar')%>

                        <h1 class="text-center mt-5">Powering the next<br class="hide-line-break"> global businesses</h1>
                        <img class="ef-pink-underline" src="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1611007470/eazifunds%202.0/Line_1_bayuur.svg" alt="pink_underline">
                        <div class="sec1-paragraphs">
                            <p class="text-center">Easy payment built for everyone. A one-stop-shop for everything about your<br class="hide-line-break"> finances to helping you grow your business. Also, anticipate our</p>
                            <p class="text-center ef-npy-design px-4 px-md-5"> no-code payment APIs</p>
                        </div>


                </div>

                <img class="ef-patrn-one" src="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1611008124/eazifunds%202.0/pattern_moarl2.svg" alt="">
                <img class="ef-patrn-two" src="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1611019846/eazifunds%202.0/pattern_1_ef9j0x.svg" alt="">

                <form action="#" method="post">
                    <div class="row mt-5">
                        <div class="col-md-6">
                            <img class="lbl-img-bg" src="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1611010619/eazifunds%202.0/Rectangle_9_gp1yjg.svg" alt="">
                            <label class="ef-email-label" for="email">Email Address</label>
                            <input class="form-control ef-email-input" type="email" name="email" id="email" placeholder="Enter your email address">
                        </div>

                        <div class="col-md-6">
                            <button class="ef-join-btn border-0" type="submit">JOIN OUR WAITLIST</button>
                        </div>
                    </div>
                </form>

                <img class="mt-md-5 ef-pc" src="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1611007918/eazifunds%202.0/Group_285_krymsg.svg" alt="ef_laptop">
            </div>
        </div>
    </div>

    <!--Sec1-->
    <div class="sec1-body">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <img class="ef-partners-resp" src="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1611149678/eazifunds%202.0/Partners-responsive_i3eqtu.svg" alt="">
                    <img class="ef-partners" src="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1611020429/eazifunds%202.0/03_Client_t5t6wl.svg" alt="">
                    <h6 class="text-center ml-md-5">The only payments platform for your brand</h6>
                    <p class="coming-soon-text mt-5">Coming soon</p>
                </div>
            </div>


            <h6 class="ml-md-4 why-ef-heading" style="">Why Eazifunds</h6>

            <div class="row mt-5 justify-content-center" style="padding-top: 20rem;">
                <div class="col-md-4">
                    <img class="why-ef-img" src="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1611052580/eazifunds%202.0/Group_r4kafo.svg" alt="">
                    <p class="why-ef ml-md-3 text-center text-md-left">Easy to use</p>
                    <p class="why-ef-p ml-md-3 text-center text-md-left">An all in one easy to platform. Our dashboard allows you to take control of your finances and aid your growth with our related products designed to get you from 0 to 1.</p>
                </div>
                <div class="col-md-4">
                    <img class="why-ef-img" src="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1611052583/eazifunds%202.0/Group_1_dzlvpf.svg" alt="">
                    <p class="why-ef ml-md-3 text-center text-md-left">No code APIs</p>
                    <p class="why-ef-p ml-md-3 text-center text-md-left">Streamline your payments through one easy to integrate unified API that evolves with you and responds to all your changes as they happen. Built for everyone and anyone.</p>
                </div>
                <div class="col-md-4">
                    <img class="why-ef-img" src="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1611052452/eazifunds%202.0/Group_qomxrr.svg" alt="">
                    <p class="why-ef ml-md-3 text-center text-md-left">Rapid Launch</p>
                    <p class="why-ef-p ml-md-3 text-center text-md-left">Start accepting payments in seconds from all your customers globallly. Say goodbye to rigorous processes to onboard and many lines of code.</p>
                </div>
            </div>
        </div>
    </div>
    <!--Sec1-->

    <!--Sec2-->
    <div class="sec2-body">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mob order-2 order-md-1">

                    <img class="ef-playstation-img" src="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1611053713/eazifunds%202.0/Group_Playstation_epam89.svg" alt="">
                    <h5 class="mt-5 ml-3 ml-md-0">A technology approach<br> to a unified payment<br>and finances</h5>
                    <p class="ef-sec2-p ml-3 ml-md-0">Accept payments from anywhere in the World. Fast,<br class="hide-line-break">easy and inexpensive. Managing your finances just <br class="hide-line-break">got easier.</p>
                    <input class="btn btn-primary rounded-pill ml-2 ml-md-0 py-2 px-4 border-0" type="button" value="Get started">
                    <img class="ef-bluedots-graphic_one" src="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1611060572/eazifunds%202.0/Blue_dots_left_1_a2ahxt.svg" alt="">

                </div>

                <div class="col-md-6 order-1 order-md-2">
                    <img class="ef-globe" src="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1611087588/eazifunds%202.0/animation_640_kk459y71-min_drhamw.gif" alt="ef_globe">
                    <img class="ef-bluedots-row_two_graphic_one" src="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1611060572/eazifunds%202.0/Blue_dots_left_1_a2ahxt.svg" alt="">
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-md-4">
                    <img class="ef-dbt-card mx-4 mx-md-0" src="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1611060594/eazifunds%202.0/Group_320_kzugue.svg" alt="ef_db_card">
                </div>
                <div class="col-md-4">
                    <img class="ef-scan-phone mx-4 mx-md-0" src="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1611086275/eazifunds%202.0/animation_500_kk43z307_t0mzm6.gif" alt="ef_scan_phone">
                </div>
                <div class="col-md-4">
                    <img class="ef-pos ml-2 mx-md-0" src="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1611086236/eazifunds%202.0/animation_500_kk46ou7v_oimsb1.gif" alt="ef_pos">
                </div>
            </div>
        </div>
    </div>
    <!--Sec2-->

    <!--SecMid-->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h5 class="text-center my-5">Accept payment across all<br class="hide-line-break"> sales channel</h5>
            </div>
        </div>
    </div>
    <!--SecMid-->

    <!--Sec3-->
    <div class="ef-sec3-body mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img class="ef-phone" src="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1611064791/eazifunds%202.0/Transactions_1_1_kqipdw.svg" alt="">
                    <img class="left-plug" src="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1611064777/eazifunds%202.0/Plug_left_zgpg9p.svg" alt="">
                </div>

                <div class="col-md-4">
                    <img class="micro-chip" src="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1611064779/eazifunds%202.0/Microchip_ds4qxg.svg" alt="">
                </div>
                <div class="col-md-4">
                    <img class="right-plug" src="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1611064777/eazifunds%202.0/Plug_right_f5hmsl.svg" alt="">
                    <img class="banks" src="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1611064780/eazifunds%202.0/image_22_szanlc.svg" alt="">
                </div>
            </div>

            <div class="row justify-content-center" style="margin-top: 20rem;">
                <div class="col-md-6">
                    <h5 class="ml-3 ml-md-0">A place for all kinds<br> of businesses to<br> grow</h5>
                    <p class="ef-sec3-p ml-3 ml-md-0"><span class="sec3-p_Mobile">Collect and manage all payments using our,<br class="hide-line-break">dashboard. Have full visibility on all your transactions.<br class="hide-line-break"></span> Building and running a business is already
                        very tough.<br class="hide-line-break"> Getting paid should be seamless.</p>

                    <button class="btn btn-secondary ml-3 ml-md-0 px-5 my-5 my-md-0 border-0">Learn more</button>
                </div>

                <div class="col-md-6">
                    <img class="sec3-img-2" src="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1611090380/eazifunds%202.0/Group_284_xjmclv.svg" alt="">
                </div>
            </div>
        </div>
    </div>
    <!--Sec3-->

    <!--Sec4-->
    <div class="container">
        <div class="row mt-5 sec4-row">
            <div class="col-md-8">
                <h5 class="text-center text-md-left">Ready to get started ?</h5>

                <p class="ef-sec3-p text-center text-md-left">Eazifunds is in private beta. Join our waitlist to try the platform.</p>

                <form action="#" method="post">
                    <div class="row my-5">
                        <div class="col-md-6">
                            <img class="lower-lbl-img-bg" src="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1611010619/eazifunds%202.0/Rectangle_9_gp1yjg.svg" alt="">
                            <label class="lower-ef-email-label" for="email">Email Address</label>
                            <input class="form-control lower-ef-email-input" type="email" name="email" id="email" placeholder="Enter your email address">
                        </div>

                        <div class="col-md-6">
                            <button class="lower-ef-join-btn border-0 my-5 my-md-0" type="submit">JOIN OUR WAITLIST</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Sec4-->


    </div>




    <%-include('../partials/Footer')%>
</body>

</html>